<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- views/index.ejs -->
<a href="/planets">Browse planets</a>
    <title>Exoplanets</title>
  </head>
  <body>
    <h1>Welcome to the Exoplanets app!</h1>
    <p>An app to introduce you to the planets outside our solar system!</p>
  </body>
</html>