<body>

    <h1>Edit <%= planet.name %></h1>
<form action="/planets/<%=planet._id%>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= planet.name %>" />

    <button type="submit">Update Planet</button>
  </form>
    <a href="/planets">Back to Planets</a>
  </body>